<mat-toolbar class="nav-bar" style="position: sticky;">
  <span>Gabriel Kojima - MNC</span>
</mat-toolbar>
<div class="col-12 mb-5">
  <mat-card class="example-card mt-3">
    <mat-card-header>
      <mat-card-title>Métodos</mat-card-title>
      <mat-card-subtitle>Escolha um método</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field class="col-6">
          <mat-label>Método</mat-label>
          <mat-select
            [(ngModel)]="metodo"
            (selectionChange)="metodoForm.reset(); iteracoes.splice(0)"
          >
            <mat-option value="bisseccao">
              Bissecção
            </mat-option>
            <mat-option value="cordas">
              Cordas
            </mat-option>
            <mat-option value="cordasmod">
              Cordas Modificado
            </mat-option>
            <mat-option value="newton">
              Newton
            </mat-option>
            <mat-option value="newtonmod">
              Newton Modificado
            </mat-option>
          </mat-select>
        </mat-form-field>
        <form [formGroup]="metodoForm">
          <mat-form-field class="col-12" *ngIf="metodo">
            <input matInput placeholder="Função" formControlName="funcao" />
          </mat-form-field>
          <mat-form-field
            class="col-4"
            *ngIf="metodo && metodo !== 'newton' && metodo !== 'newtonmod'"
          >
            <input type="number" matInput placeholder="A" formControlName="a" />
          </mat-form-field>
          <mat-form-field
            class="col-4"
            *ngIf="metodo && metodo !== 'newton' && metodo !== 'newtonmod'"
          >
            <input type="number" matInput placeholder="B" formControlName="b" />
          </mat-form-field>
          <mat-form-field
            class="col-4"
            *ngIf="(metodo && metodo === 'newton') || metodo === 'newtonmod'"
          >
            <input
              type="number"
              matInput
              placeholder="X0"
              formControlName="x"
            />
          </mat-form-field>
          <mat-form-field class="col-4" *ngIf="metodo">
            <input
              type="number"
              matInput
              placeholder="Precisão"
              formControlName="precisao"
            />
          </mat-form-field>
        </form>
      </div>
      <div *ngIf="iteracoes.length !== 0" class="col-12 p-0">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="iteracao">
            <th mat-header-cell *matHeaderCellDef>Iteração</th>
            <td mat-cell *matCellDef="let element">{{ element.i }}</td>
          </ng-container>

          <ng-container matColumnDef="x">
            <th mat-header-cell *matHeaderCellDef>x</th>
            <td mat-cell *matCellDef="let element">{{ element.ix }}</td>
          </ng-container>

          <ng-container matColumnDef="fx">
            <th mat-header-cell *matHeaderCellDef>F(x)</th>
            <td mat-cell *matCellDef="let element">{{ element.ifx }}</td>
          </ng-container>

          <ng-container matColumnDef="bma">
            <th mat-header-cell *matHeaderCellDef>b - a</th>
            <td mat-cell *matCellDef="let element">{{ element.bma }}</td>
          </ng-container>

          <ng-container matColumnDef="xmx">
            <th mat-header-cell *matHeaderCellDef>|xk - xk-1|</th>
            <td mat-cell *matCellDef="let element">{{ element.ixmx }}</td>
          </ng-container>

          <ng-container matColumnDef="dx">
              <th mat-header-cell *matHeaderCellDef>Derivada(x)</th>
              <td mat-cell *matCellDef="let element">{{ element.idx }}</td>
            </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card-content>
    <mat-card-actions style="display: flex;" class="border-top">
      <button
        mat-raised-button
        color="primary"
        style="margin-left: auto;"
        (click)="calcularMetodo(metodo)"
      >
        Calcular
      </button>
      <button
        *ngIf="iteracoes.length != 0"
        mat-raised-button
        color="warn"
        (click)="metodoForm.reset(); iteracoes.splice(0); metodo = null"
      >
        Limpar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
